body{
  text-align: center;
}
.logo{
  width: 120px;
}

.rnav{
  position: relative;
  background-color: inherit;
  padding: 10px;
}

.bg{
  background-color: red;
}

.home{
  margin: 0 auto;
  width: 50%;

}


#head-name{
  padding:2rem 2.5rem;
  font-size: 4rem;
  font-family: "serif-bold";
  text-align: center;
  color: #04102d
  text-transform:uppercase;

}
.description{
  padding: 2px 10px 2px 15px;
  font-size: 2rem;
  font-family:sans-serif;
  color: black;
  text-align: center;

}

.form1{
  padding:1px 50px;

}
.form2{

align-content: center;
align-self: center;
}
.btn2{
  margin:auto  ;
  text-align: center;
  padding:.5rem;
}
