<%- include("partials/header.ejs") -%>
  

  <div class="landing-window">
    <div class="information">
      <h1 class="description">Now Stop Wondering in Search of Best Shelther <br>We Are Here For You </h1>
  
      <!-- search form and post button-->
      <div class="input-group">
        <input type="text" class="form-control bg-light" placeholder="Where do you want to live? ">
        <button class="btn btn-primary post-btn" type="submit">Search</button>
      </div>
  
      <h4 class="post">Looking for tenant ? <button type="button" class="btn btn-success btn-lg"> Post Room</button></h4>
     </div>
  </div>
  

  <hr>
  <section id="features">
    <div class="features">
      <div class="row">

        <div class="feature-box col-md-4">
          <i class="fab fa-searchengin fa-4x icons"></i>
          <h3>Fast loading</h3>
          <p>Fast loading and searching our room is our main priority. </p>
        </div>

        <div class="feature-box col-md-4 ">
          <i class="fab fa-angellist fa-4x icons"></i>
          <h3>Easy to use</h3>
          <p>So easy to use and search the room.</p>
        </div>

        <div class="feature-box col-md-4">
          <i class="far fa-check-circle fa-4x icons"></i>
          <h3>Gurented to work</h3>
          <p>Find the beautiful room for you.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- trending rooms carousel -->
  <section  class="trending-room">
    <div class="home-size">
      <div id="carouselExampleInterval" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="2000">
            <img src="image/room3.jpeg" class="d-block w-100" alt="...">

          </div>
          <div class="carousel-item" data-interval="2000">
            <img src="image/room1.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="2000">
            <img src="image/room2.jpeg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  
  <!-- room grid -->
  <section class="room-grid">
    <div class="home-size">
    <h2>Find room here</h2>
    <hr class="hr1">
    <div class="row ">
      <div class="col-sm-12 col-md-6 col-lg-4 room">
        <div class="card">
          <div class="card-body">
            <img class="room-image" src="image/room1.jpeg" alt="room">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 room">
        <div class="card">
          <div class="card-body">
            <img src="image/room1.jpeg" alt="room">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 room">
        <div class="card">
          <div class="card-body">
            <img src="image/room1.jpeg" alt="room">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 room">
        <div class="card">
          <div class="card-body">
            <img src="image/room1.jpeg" alt="room">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 room">
        <div class="card">
          <div class="card-body">
            <img src="image/room1.jpeg" alt="room">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 room">
        <div class="card">
          <div class="card-body">
            <img src="image/room1.jpeg" alt="room">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  </section>
  <hr>
  <section>

  </section>

  <!-- testimonials -->
  <section class="testimonial testimonial-background">
    <div id="carouselExampleIndicators" class="carousel slide home-size" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item testimonial-item-2 active" data-interval="4000">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlSwWWy7BFQ0K77kx1HyNf_YWG160NkVCUik-KZvNoy986rpdT" class="testimonial-image" alt="...">
          <h4>really beautiful rooms and im fan of the site.Searching for that perfect color has never been easier, use our HTML color picker to browse millions of colors and color harmonies</h4>
          <em>aakash,palpa</em>
        </div>
        <div class="carousel-item testimonial-item-2" data-interval="4000">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTro5S_IXhJBpjD1TCVw2sfw0WlXUhr3y6_cWdXLwUYJ_h0R304" class="testimonial-image" alt="...">
          <h4>really beautiful rooms and im fan of the site.  use our HTML color picker to browse millions of colors and color harmonies</h4>
          <em>shiva,nawalparasi</em>
        </div>
        <div class="carousel-item testimonial-item-2" data-interval="4000">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ38gBmHdZ61zxTKChxkXKl0q7YCdS3RxALKCslncOTizxKUL2PEg" class="testimonial-image" alt="...">
          <h4>really beautiful rooms and im fan of the site</h4>
          <em>keshav,dhading</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>

      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>

      </a>
    </div>
  </section >
  <hr>

  <section>
    <div class="">

    </div>

  </section>
 <%- include("partials/footer.ejs") -%>